version: '3.8'

#volumes:
#  redis-data:
#    null
services:
  k2eg-python:
    build: 
      context: .
      dockerfile: Dockerfile
    working_dir: /opt/app
    command: 
        - /bin/bash
        - -c
        - |
          wait
          python tools/init-test-topics.py
          sleep 30
          pytest -o log_cli=true -o log_cli_level=DEBUG
    environment:
      K2EG_PYTHON_ENABLE_KAFKA_DEBUG_LOG: true
      WAIT_HOSTS: kafka:9092
  consul-server:
    image: consul:1.15
    ports:
      - "8500:8500"  # Consul HTTP API and UI
      - "8600:8600/udp"  # DNS interface (if needed)
    command: agent -dev -ui -client=0.0.0.0
    volumes:
      - consul_data:/consul/data  # Optional persistent storage for Consul data

  epics_pva:
    image: ghcr.io/bisegni/epics-base-docker-image:main
    volumes:
      - ./tests/epics-test.db:/db/softioc.db

  k2eg:
    image: ghcr.io/slaclab/k2eg/ubuntu:latest
    pull_policy: always
    command: 
        - /bin/bash
        - -c
        - |
          sleep 10
          k2eg --log-level=debug --cmd-input-topic=cmd-in-topic --sub-server-address=kafka:9092  --sub-group-id=eed-k2eg --pub-server-address=kafka:9092 --metric-enable=true  --scheduler-check-delay-seconds=60 --scheduler-thread-number=1 --monitor-worker-cron-schedule="*/30 * * * * *" --nc-monitor-expiration-timeout=3600 --nc-purge-queue-on-exp-timeout=true --configuration-server-host=consul-server --pub-flush-trimeout-ms 50
    depends_on: 
      - kafka

  kafka:
    # platform: linux/amd64
    image: apache/kafka:4.1.0
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
volumes:
  kafka_data:
    driver: local
  consul_data: {}