shellingham==1.5.0
confluent-kafka==2.1.1
python_snappy==0.6.1
rich==13.3.4
msgpack==1.0.5
python-dotenv
wheel
setuptools
twine
pytest
pytest-runner
readerwriterlock
click-loglevel
click
click_repl
pytest